.instanceOuterContainer {
	padding: 20px;
	width: 820px;
	height: 380px;
	display: flex;
	flex-direction: column;
}

.instanceContainer {
	width: 800px;
	height: 350px;
	display: flex;
	flex-direction: row;
}

.categoryColumn {
	width: 100px;
	height: 310px;
	display: flex;
	flex-direction: column;
}

.pleasureText {
	padding: 10px;
	justify-content: center; 
	display: flex;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 0%;
}

.arousalText {
	padding: 10px;
	justify-content: center; 
	display: flex;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 0%;
}

.dominanceText {
	padding: 10px;
	justify-content: center; 
	display: flex;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 0%;
}

.imageColumn {
	width: 500px;
	height: 310px;
	display: flex;
	flex-direction: column;
}

.instanceColumn {
	width: 160px;
	height: 310px;
	display: flex;
	flex-direction: column;
}

.pleasureImages {
	padding: 10px;
	width: 480px;
	height: 100px;
	display: flex;
	flex-direction: row;
}

.arousalImages {
	padding: 10px;
	width: 480px;
	height: 100px;
	display: flex;
	flex-direction: row;
}

.dominanceImages {
	padding: 10px;
	width: 480px;
	height: 100px;
	display: flex;
	flex-direction: row;
}

.labelingBoxWithImage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  max-width: 16%;
}

.radioButtonOfImage {
	height: 25;
	width: 25;
}

.radioButtonBoxNoImage {
	width: 25;
	position: relative;
	display: flex;
	justify-content: center;
}

.radioButtonNoImage {
	height: 25;
	width: 25;
	position: absolute;
	bottom: 0; 
}

.instance {
	padding: 10px;
	width: 140px;
	height: 100px;
	display: flex;
	flex-direction: column;
}

.selection {
	padding: 10px;
	width: 140px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.synthesizedInstance {
	padding: 10px;
	width: 140px;
	height: 100px;
	display: flex;
	flex-direction: column;
}


.navigationContainer {
	padding: 20px;
	width: 820px;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.topBarOuterContainer {
	display: flex;
	height: 120px;
    width: 800px;
	padding: 10px;
	flex-direction: column;
}

.TitleLine {
	display: flex;
	flex-direction: row;

}

.NavigationLine {
	display: flex;
	flex-direction: row;
}

.topBarTitle {
	display: flex;
	height: 40px;
	padding: 10px;
	flex-direction: column;
}

.userID {
	padding: 10px;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 0%;
}

.timeUsage {
	padding: 10px;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 0%;
}

.instanceID {
	padding: 10px;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 0%;
}

.instanceList {
	padding: 10px;
	flex-grow: 2;
	flex-shrink: 1;
	flex-basis: 0%;
}