@import url('https://fonts.googleapis.com/css?family=Raleway:200');
html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul {
	margin: 20;
	padding: 0;
}

.container{
	min-height: 600px;
}


#canvas4{
	position: absolute;
	z-index: 1000;
}

.zoom{
   border:3px black solid;
   box-shadow: 5px 5px 10px #1e1e1e;
   display: none;
}

.center, canvas {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
}

#genreSelect {
	length:100px;
}

#items{
  list-style:none;
  margin:0px;
  margin-top:4px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:3px;
  font-size:17px;
  color: #333333;
  
}
hr { width: 85%; 
  background-color:#E4E4E4;
  border-color:#E4E4E4;
    color:#E4E4E4;
}
#cntnr{
  display:none;
  position:fixed;
  border:1px solid #B2B2B2;
  width:150px;      background:#F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius:4px;
  z-index: 1000;
}

li{
  
  padding: 3px;
  padding-left:10px;
}


#items :hover{
   color: white;
  background:#284570;
  border-radius:2px;
}

.candidatesContainer {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.checkContainer {
  display: inline-flex;
}

.candidatesContainer li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.resultsContainer li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.synthesisContainer {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.synthesisContainer li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.synthesis_inner {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.slider {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.resultContainer {
  text-align: center;
  margin: 0;
  padding: 20px;
}


.seedContainer {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.generationContainer {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
  padding: 0;
}

.spinnerContainer {
  height: auto;
  width: 10%;
  margin-left: 47%;
  /*display: inline-block;*/
  margin-top: 20px;
  margin-bottom: 20px;
}